*{
  filter: none !important;
}
body {
  font-family: helvetica, arial, sans-serif;
  color: #3d3d3d;
}

h1 {
  font-style: none;
  color: #2c11c4;
}

#liveView {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  gap: 10px;
}

video {
  position: relative;
  width: 100%;
}
#qr-shaded-region {
  display: flex;
  justify-self: center;
  width: 100%;
  height: 100%;
}
.WebIne {
  position: relative;
  display: flex;
  justify-self: center;
  overflow: hidden;
}
/*
.ContornoIne{
  position: absolute;
  display: flex;
  justify-self: center;
  width: 60%;
  height: 40%;
  border: 2px #fff;
  border-radius: 10px;
  border-style:dashed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  */

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.camView {
  position: relative;
  float: left;
  width: calc(100% - 20px);
  margin: 10px;
  cursor: pointer;
}

.camView p {
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 111, 0, 0.85);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
}

.highlighter {
  /* background: rgba(0, 255, 0, 0.25); */
  border: 2px dashed rgb(255, 111, 0, 0.85);
  z-index: 1;
  position: absolute;
}

@keyframes OCR-Aparicion {
  0% {
    opacity: 0%;
  }
  5% {
    transform: translateY(50px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes OCR-Aparicion2 {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
    transform: translateX(-100px);
  }
  90% {
    transform: translateX(5px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes OCR-Aparicion3 {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
    transform: translateX(100px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

/*-------Ventana-Escaner-------*/

#reader__dashboard_section_csr button {
  padding: 2px 2px 2px;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#reader__dashboard_section_csr select {
  padding: 0px 2px 0px;
  border-radius: 6px;
}

#reader__dashboard_section_fsr {
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 645px) {
  #ventana_popul {
    padding-top: 50px !important;
  }
  #reader {
    max-width: 100% !important;
  }
  video {
    width: 90% !important;
  }
  #qr-shaded-region {
    width: 90% !important;
  }
  #qr-shaded-region {
    display: none;
  }
}

/*-----------------------CargaLogo---------------------------*/
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes aparecer_Carga {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes desvanecer_Carga {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loading-Ext {
  0% {
    transform: rotate(0deg);
    opacity: 0;
    scale: 1;
  }
  10% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    scale: 0;
  }
}
.CargaAtinet-Contenedor-2 {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc3545;
  z-index: 999;
  animation: aparecer_Carga 0.3s;
}
.CargaAtinet-Contenedor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  margin: 0;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc3545;
  z-index: 999;
}
.cargaAtinet-1 {
  position: absolute;
  border: 6px solid #dc3545;
  border-radius: 100%;
  border-bottom-color: #ffffff;
  width: 80px;
  height: 80px;
  animation: loading-Ext 3s infinite linear;
  animation-iteration-count: 2s;
  z-index: 20;
}

.cargaAtinet-2 {
  position: absolute;
  border: 6px solid #dc3545;
  border-radius: 100%;
  border-left-color: #ffffff;
  width: 100px;
  height: 100px;
  animation: loading-Ext 4.5s infinite linear;
  animation-iteration-count: 2s;
  z-index: 20;
}
.cargaAtinet-3 {
  position: absolute;
  border: 6px solid #dc3545;
  border-radius: 100%;
  border-right-color: #ffffff;
  width: 120px;
  height: 120px;
  animation: loading-Ext 5s infinite linear;
  animation-iteration-count: 2s;
  z-index: 20;
}
.cargaAtinet-4 {
  position: absolute;
  border: 6px solid #dc3545;
  border-radius: 100%;
  border-top-color: #ffffff;
  width: 140px;
  height: 140px;
  animation: loading-Ext 2.5s infinite linear;
  animation-iteration-count: 2s;
  z-index: 20;
}

.cargaAtinet-centro {
  position: absolute;
  border: 6px solid #ffffff;
  border-radius: 100%;
  background-color: #ffffff;
  border-top-color: #fff;
  border-bottom-color: #fff;
  width: 50px;
  height: 50px;
  z-index: 0;
}

.cargaAtinet-centro-2 {
  border-radius: 100%;
  background-color: #fff;
  width: 30px;
  height: 30px;
  animation: loading 1.5s infinite linear;
  z-index: 20;
}
.cargaAtinet-centro-3 {
  position: absolute;
  border-right: 6px solid #fff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  animation: loading 1.5s infinite linear;
  z-index: 20;
}
.cargaAtinet-centro-2 p {
  color: #dc3545;
  width: 100%;
  font-size: 30px;
  /*display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  */
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


